<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='field_trail.css')}}">

<main class="main-content">
    <div class="warning">
        <i class="content">
            <img src="{{url_for('static', filename='images/404.gif')}}">
        </i>
        <div class="message">
            <span id="p">PAGE</span>
            <span id="n">NOT</span>
            <span id="a">AVAILABLE</span>
        </div>
    </div>
</main>

<link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">

